
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
@Html.Action("PartialHead")
<body id="page-top">
    <!-- Navigation-->
   @Html.Action("PartialNavbar")
    <!-- Page Content-->
    <div class="container-fluid p-0">
        <!-- About-->
        @Html.Action("PartialAbout")
       
        <hr class="m-0" />
        <!-- Experience-->
        @Html.Action("PartialExperience")
        <hr class="m-0" />
        <!-- Education-->
        @Html.Action("PartialEdication")
        <hr class="m-0" />
        <!-- Skills-->
        @Html.Action("PartialSkill")
        <hr class="m-0" />
        <!-- Interests-->
        @Html.Action("PartialInterest")
        <hr class="m-0" />
        <!-- Awards-->
        <section class="resume-section" id="awards">
            @Html.Action("PartialAward")
        </section>
        <!-- Contact-->
        <section class="resume-section" id="contact">
            @Html.Action("PartialContact")
        </section>
    </div>
    <!-- Bootstrap core JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Third party plugin JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <!-- Core theme JS-->
    <script src="/Templates/startbootstrap-resume-gh-pages/js/scripts.js"></script>
</body>
</html>
