@model MvcCv.Models.Entity.TblAdmin
@{
    ViewBag.Title = "AdminUpdate";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h2>Deneyim Güncelleme Sayfası</h2>
<form method="post">
    @Html.HiddenFor(x => x.AdminID)
    @Html.Label("Admin ID")
    @Html.TextBoxFor(x => x.AdminID, new { @class = "form-control" })
    <br />
    @Html.Label("Kullanıcı Adı")
    @Html.TextBoxFor(x => x.UserName, new { @class = "form-control" })
    <br />
    @Html.Label("Şifre")
    @Html.TextBoxFor(x => x.Password, new { @class = "form-control" })
    <br />
    <button class="btn btn-info">Güncelle</button>
</form>


